{% extends 'base.html' %}

{% block contenido %}

{% if errors %}
<p>Hay errores</p>
<pre>{{ errors }}</pre>

{% for error in errors %}
<div class="lista-errores"> Hay errores en el campo{{ error[0] }}
    <ul>
        {% for msg in error[1] %}
        <li class="mensaje-error"> {{ msg }}</li>
        {% endfor %}


    </ul>
</div>

{% endfor %}
{% endif %}

<form action="/editar/{{ id }}" method="post" novalidate>
    {{ form.csrf_token }}

    {{ form.id }}

    <div class="campo-formulario">
        {{ form.fecha.label }}
        {{ form.fecha}}
    </div>

    <div class="campo-formulario">
        {{ form.concepto.label }}
        {{ form.concepto }}
    </div>

    <div class="campo-formulario">
        {% for campo in form.tipo %}
        {{ campo }}
        {{ campo.label }}
        {% endfor %}
    </div>

    <div class="campo-formulario">
        {{ form.cantidad.label }}
        {{ form.cantidad }}
    </div>

    <div class="acciones">
        {{ form.submit }}
    </div>

</form>

{% endblock contenido %}

{% block page_title %}
<h1>Editar movimiento</h1>
{% endblock page_title %}