{% extends 'base.html' %}

{% block contenido %}

{% if errors %}
<div class="lista-errores">
    <i class="fa-solid fa-bomb fa-2xl" style="color: #c92c2c;"></i>
    Revisa los errores
    {% for error in errors %}
    <p>Hay errores en el campo {{ error[0] }}:</p>
    <ul>
        {% for msg in error[1] %}
        <li class="mensaje-error">{{ msg }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endif %}

<form action="/editar/{{ id }}" method="post" novalidate>
    {{ form.csrf_token }}

    {{ form.id }}

    <div class="campo-formulario">
        {{ form.fecha.label }}
        {{ form.fecha}}
    </div>

    <div class="campo-formulario">
        {{ form.concepto.label }}
        {{ form.concepto }}
    </div>

    <div class="campo-formulario">
        {% for campo in form.tipo %}
        {{ campo }}
        {{ campo.label }}
        {% endfor %}
    </div>

    <div class="campo-formulario">
        {{ form.cantidad.label }}
        {{ form.cantidad }}
    </div>

    <div class="acciones">
        {{ form.submit }}
    </div>

</form>

{% endblock contenido %}

{% block page_title %}
<h1>Editar movimiento</h1>
{% endblock page_title %}