{% extends 'base.html' %}

{% block contenido %}

{% if errors %}
<div class="lista-errores">
    <i style="color: #c92c2c;"></i>
    Revisa los errores
    {% for error in errors %}
    <p>Hay errores en el campo {{ error[0] }}</p>
    {% endfor %}
</div>
{% endif %}

<form action="/editar/{{ id }}" method="post" novalidate>
    {{ form.csrf_token }}

    {{ form.id }}
    <div class="campo-formulario">
        {{ form.fecha.label }}
        {{ form.fecha}}
        {% if "fecha" in coderror %}
        <li class="mensaje-error">{{ coderror["fecha"] }}</li>
        {% endif %}

    </div>

    <div class="campo-formulario">
        {{ form.concepto.label }}
        {{ form.concepto }}
        {% if "concepto" in coderror %}
        <li class="mensaje-error">{{ coderror["concepto"] }}</li>
        {% endif %}
    </div>

    <div class="campo-formulario">
        {% for campo in form.tipo %}
        {{ campo }}
        {{ campo.label }}
        {% endfor %}
        {% if "campo" in coderror %}
        <li class="mensaje-error">{{ coderror["campo"] }}</li>
        {% endif %}
    </div>

    <div class="campo-formulario">
        {{ form.cantidad.label }}
        {{ form.cantidad }}
        {% if "cantidad" in coderror %}
        <li class="mensaje-error">{{ coderror["cantidad"] }}</li>
        {% endif %}
    </div>

    <div class="acciones">
        {{ form.submit }}
    </div>

</form>

{% endblock contenido %}

{% block page_title %}
<h1>Editar movimiento</h1>
{% endblock page_title %}