{% extends "base.html" %}

{% block head_title %}
{{super()}}: Crear movimiento
{% endblock head_title %}



{% block page_title %}
<h1>Crear nuevo movimiento</h1>
{% endblock page_title %}


{% block contenido %}

<!--
    CRUD: Create, Read, Update, Delete

    GET:    Read
    POST:   Create (delete, update)
    PUT:    Update
    DELETE: Delete
-->

<form action="/nuevo/" method="post" novalidate>


    <div class="campo-formulario">
        {{ form.fecha.label }}
        {{ form.fecha}}
        {% if "fecha" in coderror %}
        <li class="mensaje-error">{{ coderror["fecha"] }}</li>
        {% endif %}

    </div>

    <div class="campo-formulario">
        {{ form.concepto.label }}
        {{ form.concepto }}
        {% if "concepto" in coderror %}
        <li class="mensaje-error">{{ coderror["concepto"] }}</li>
        {% endif %}
    </div>

    <div class="campo-formulario">
        {% for campo in form.tipo %}
        {{ campo }}
        {{ campo.label }}
        {% endfor %}
        {% if "campo" in coderror %}
        <li class="mensaje-error">{{ coderror["campo"] }}</li>
        {% endif %}
    </div>

    <div class="campo-formulario">
        {{ form.cantidad.label }}
        {{ form.cantidad }}
        {% if "cantidad" in coderror %}
        <li class="mensaje-error">{{ coderror["cantidad"] }}</li>
        {% endif %}
    </div>

    <div class="acciones">
        {{ form.submit }}
    </div>




    {% endblock %}